body {
  background-color: #fff;
    /* Font Settings*/
  font-family: 'Ubuntu', sans-serif;
  font-variant: small-caps;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

.button-class {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
