body {
  font-family: 'Reggae One', cursive;
}

.nav_img {
  width: 100px;
}

.pokedex-device {
  text-align: center;
  margin-top: 90px;
}

.pokedex-device img {
  width: 25%;
}

.pokemon__name {
  text-transform: uppercase;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
